<script>
    function showHide(id) {
        var obj = document.getElementById(id);
        if (obj.style.display == 'none')
            obj.style.display = 'block';
        else
            obj.style.display = 'none';
    }
</script>
<div data-controller="comment">
<div class="comments-header">
  <h4>댓글 (<%= commentable.comment_threads.count %>)</h4>
</div>

<div class="comments-container"  data-comment-target="commentList">
  <%= render partial: "comments/reply", locals: {comments: commentable.root_comments,new_comment: new_comment} %>
</div>
<%= render partial: "comments/form", locals: {new_comment: new_comment} %>
</div>