<div id="propose_main" class="sub_main row">
  <div class="col-12">
    <%= render 'form', propose: @propose %>
  </div>
  <div class="col-12">
    <%= link_to t(:link_list), proposes_path %>
  </div>
</div>
